*{
    margin: 0;
    left: 0;
}

.container{
    width: 1200px;
    margin: 100px auto;
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
    background-color:green;
    color: #fff;;
    margin: auto 60px;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}